.login_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  font-size: 7rem;
  font-weight: 800;
  margin-bottom: 50px;
}

.header span {
  color: rgb(254, 0, 173);
}

.btn_login {
  font-size: 2.5rem;
  border: 4px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  text-align: center;
  background: transparent;
  padding: 10px 30px;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}

.btn_login:hover {
  border-color: rgb(254, 0, 173);
  color: rgb(254, 0, 173);
  fill: rgb(254, 0, 173);
}
