.badge_container {
  position: relative;
}

.badge {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  background: rgb(0, 0, 0);
  border-radius: 23px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  gap: 8px;
  height: 40px;
  width: 125px;
  padding: 2px 4px;
  border: 2px solid rgb(0, 0, 0);
}

.avatar_container {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  width: 30px;
  gap: inherit;
}

.avatar {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  font-size: 0.8rem;
  min-width: 120px;
  position: absolute;
  right: 0;
  top: 45px;
}

.menu_btn {
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid rgb(0, 0, 0);
  height: 40px;
  padding: 12px;
  text-align: start;
  font-weight: bold;
}

.menu_btn:hover {
  color: rgb(254, 0, 173);
}
