.wrapper {
  display: flex;
  flex-flow: column;
}

.controls_container,
.progress_container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

svg {
  color: rgb(174, 172, 172);
  transition: 0.2s ease-in-out;
}

svg:hover {
  color: rgb(254, 0, 173);
}

.state svg {
  color: rgb(255, 255, 255);
}

.state svg:hover {
  color: rgb(254, 0, 173);
}

.previous,
.next,
.state {
  font-size: 2rem;
}

.progress_container {
  margin-top: 10px;
}

.progress_bar {
  width: 75%;
  position: relative;
  height: 5px;
  outline: none;
  border: none;
  appearance: none;
  border-radius: 10px;
  background: rgb(28, 27, 27);
  cursor: pointer;
}

.progress_bar:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 10px;
  background: rgb(254, 0, 173);
  z-index: 2;
  transition: all 0.3s ease;
}

.progress_bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(254, 0, 173);
}

.current_time,
.duration {
  color: rgb(174, 172, 172);
  font-size: 0.8rem;
}
