.playlists_container {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  border-top: 1px solid rgb(255, 255, 255);
  font-weight: 600;
}

.btn {
  all: unset;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  color: rgb(254, 0, 173);
}
