.home_container {
  grid-area: main-area;
  background-color: rgb(36, 36, 36);
  margin-left: 25px;
  height: calc(100vh - 190px);
  overflow-y: scroll;
  flex: 100% 1 1;
}

.greeting {
  display: flex;
  align-items: flex-start;
}

.artists_container h2,
.tracks_container h2 {
  display: flex;
  align-items: flex-start;
  color: rgb(254, 0, 173);
}

.tracks_container {
  margin-bottom: 25px;
}
