.card {
  background-color: rgb(28, 27, 27);
  border-radius: 10px;
  width: 170px;
  padding: 2px;
  transition: 0.5s ease-in-out;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.image_container {
  padding: 10px 8px;
}

.image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.title_container {
  padding: 5px 10px;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: unset;
}

.description_container {
  padding: 3px 10px;
  margin-bottom: 10px;
}

.name,
.description {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}
.name {
  margin-bottom: 5px;
}

.link_text {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
