.artist_container {
  height: 100%;
  background: linear-gradient(180deg, rgba(36, 36, 36, 1) 5%, rgba(205, 52, 157, 1) 70%);
}

.cover {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 40px 25px;
  position: relative;
}

.cover img {
  width: 500px;
  height: 500px;
}

.info {
  margin-left: 25px;
}

.info .name {
  font-size: 5rem;
  font-weight: bold;
}

.tracks_container {
  display: flex;
  flex-flow: column;
  margin-bottom: 25px;
}
.section_title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 25px;
  text-align: left;
  margin-bottom: 15px;
}

.album_container {
  padding: 10px 25px;
}
