.search_container {
  display: grid;
}

.search_bar {
  position: absolute;
  top: 5%;
  left: 30%;
  transform: translate(-5%, -30%);
  display: inline-flex;
  align-items: center;
  background: rgb(28, 27, 27);
  width: 300px;
  padding: 10px 10px;
  border-radius: 30px;
  z-index: 2;
}

.search_bar:focus-within {
  border: 3px solid rgb(255, 255, 255);
}

.search_bar input {
  border: none;
  width: 100%;
  height: 25px;
  font: inherit;
  font-size: small;
  background-color: transparent;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}

.search_bar input:focus {
  outline: none;
}

input::placeholder {
  color: rgb(255, 255, 255);
}

.results_container {
  grid-area: main-area;
  background-color: aquamarine;
  width: 100%;
  height: 100%;
}

.artist_name {
  font-size: 1.5rem;
}
